.frontpage-itemlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.frontpage-item{
    width: 24%;
    margin: 10px 0.5%;
}

.frontpage-item h3{
    width: 100%;
    height: 80px;
}
.frontpage-item img{
    width: 100%;
}


.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
  }
  