.frontpage-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.frontpage-categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.frontpage-category{
    background-color:lightsteelblue;
    margin: 5px 1%;
    padding: 10px 1%;
    border-radius: 20px;
    width: 21%;
    text-align: center;
}
.slide-box{
    width: 90%;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 600px;
    border-radius: 20px;
  }
  