.footer{
    display:flex;
    flex-direction: row;
    background-color: darkgray;
}
.footer-col1{
    flex: 1;
    margin: 20px 5%;
}
.footer-col2{
    flex:1;
    margin: 20px 5%;
}
.footer-col3{
    flex:1;
    margin: 20px 5%;
}
.footer h2{
    text-align: center;
    margin: 5px;
}
.footer-menu{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}
.footer-menu li{
    flex: 1;
    margin: 5px;
    text-align: center;
}